/* Removing default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* corrected typo */
}

/* Custom variables */
:root {
    --primary-color: #F7F9FC;
    --font-outfit: "Outfit", sans-serif;
    --font-dmsans: "DM Sans", sans-serif;
}

/* Container related style */
.container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    overflow-x: hidden;
    /* prevent horizontal scrolling */
}

.container__sidebar {
    flex: 1 1 150px;
    background-color: var(--primary-color);
    padding-bottom: 200px;
    min-width: 200px;
    /* set a minimum width */
}

.container__sidebar__image img {
    width: 100%;
}

.container__content {
    flex: 3 1 1200px;
    padding: 80px 20px;
    overflow-x: hidden;
}

.container__sidebar_content {
    padding-top: 32px;
    margin: 0px 48px;
}

.container__sidebar_content h2 {
    color: #2E2E48;
    font-size: 32px;
    font-family: var(--font-outfit);
    font-weight: 500;
    padding-bottom: 8px;
}

.container__sidebar_content h4 {
    background: linear-gradient(90deg, #A478E8 0%, #516CF7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    font-family: var(--font-outfit);
    font-weight: 500;
    padding-bottom: 32px;
}

.container__sidebar__content__quote {
    position: relative;
    color: #47516B;
}

.container__sidebar__content__quote::before {
    content: open-quote;
    font-size: 2em;
    color: #79819A;
    position: absolute;
    left: -20px;
    top: -4px;
}

.container__sidebar__content__quote p {
    margin: 0;
    font-size: 18px;
    font-family: var(--font-outfit);
    font-weight: 500;
}

.container__sidebar__content__quote::after {
    content: close-quote;
    font-size: 2em;
    color: #79819A;
    position: absolute;
    left: 40px;
    bottom: -15px;
}

.container__sidebar__content__contact p {
    font-family: var(--font-dmsans);
    font-weight: 400;
    font-size: 12px;
    color: #79819A;
    padding-bottom: 32px;
    padding-top: 32px;
    border-top: 2px solid #E2E6EE;
}

.container__sidebar__content__contact__item {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 24px;
}

.contact__title {
    font-size: 12px;
    font-family: var(--font-dmsans);
    font-weight: 400;
    color: #79819A;
    padding-bottom: 4px;
}

.contact__value {
    color: #47516B;
    font-family: var(--font-dmsans);
    font-size: 14px;
    font-weight: 500;
}

/* Right section style */
.container__content {
    padding: 80px 20px;
}

/* CSS timeline */
.timeline {
    position: relative;
    border-left: 2px solid #E2E6EE;
    padding: 0px 24px 48px 48px;
}

.timeline:last-child {
    border-left: none;
}

.timeline::before {
    position: absolute;
    left: -13px;
    top: 0;
    content: "";
    height: 10px;
    width: 10px;
    background: #9251F7;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0px 2.02px 2.02px 0px #0000000A inset, 0px 12.12px 48.48px 0px #0000000A, 0px 2.02px 8.08px 0px #0000000D;
}

.container__content__projects h2,
.container__content__experience h2,
.container__content__education h2,
.container__content__skills h2,
.container__content__tools h2 {
    color: #2E2E48;
    font-size: 24px;
    font-weight: 500;
    font-family: var(--font-outfit);
    padding-bottom: 32px;
}

.container__content__projects,
.container__content__experience,
.container__content__education,
.container__content__skills,
.container__content__tools {
    padding: 0px 48px 48px 32px;
}

.container__content__projects__items {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    /* make items wrap */
}

.projects__container {
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 24px;
    min-width: 200px;
    /* set a minimum width for project container */
    flex: 1 1 200px;
    /* allow flexibility for smaller screens */
}

.project__name {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.project__name p {
    margin: 0;
    padding-bottom: 8px;
    color: #2E2E48;
    font-size: 16px;
    font-family: var(--font-dmsans);
    font-weight: 500;
}

.project__name span {
    color: #79819A;
    font-size: 14px;
    font-family: var(--font-dmsans);
    font-weight: 400;
}

.project__link span {
    color: #516CF7;
    font-size: 14px;
    font-family: var(--font-dmsans);
    font-weight: 500;
}

.project__link {
    align-items: center;
    display: flex;
    gap: 10px;
}

/* Experience section */
.experience__items {
    display: flex;
    flex-direction: column;
    /* stack items vertically by default */
    gap: 12px;
    padding-bottom: 34px;
}

@media screen and (min-width: 768px) {
    .experience__items {
        flex-direction: row;
        /* side by side for larger screens */
    }
}

.experience__items p img {
    width: 14px;
}

.experience__items p {
    font-size: 10px;
    font-family: var(--font-dmsans);
    font-weight: 400;
    color: #79819A;
    padding-bottom: 8px;
}

.experience__post__name {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 200px;
}

.experience__post__name p {
    color: #79819A;
    font-size: 12px;
    font-family: var(--font-dmsans);
    font-weight: 400;
}

.experience__post__name span {
    color: #2E2E48;
    font-size: 14px;
    font-family: var(--font-dmsans);
    font-weight: 500;
}

.experience__items__right span {
    padding-right: 36px;
    color: #79819A;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font-dmsans);
}

/* Education section */
.education__container {
    display: flex;
    gap: 8px;
}

.education__item {
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: var(--primary-color);
    border-radius: 10px;
    gap: 8px;
    max-width: 400px;
}

.education__item__subject {
    display: flex;
    align-items: center;
    gap: 16px;
}

.education__item__subject p {
    color: #2E2E48;
    font-size: 12px;
    font-weight: 500;
    font-family: var(--font-dmsans);
}

.education__item__title p {
    color: #2E2E48;
    font-size: 14px;
    font-family: var(--font-dmsans);
    font-weight: 500;
}

.education__item__title span {
    color: #79819A;
    font-size: 10px;
    font-family: var(--font-dmsans);
    font-weight: 400;
}

/* Skill section */
.skill__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.skill__container__top__item {
    display: flex;
    gap: 50px;
    align-items: center;
}


.skill__container__top__item__right {
    display: flex;
    gap: 8px;
}

.right__item {
    padding: 30px;
    border-radius: 5px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
}

.vertical__bar {
    display: flex;
    gap: 8px;
    align-items: center;
}

.vertical__bar__left {
    border-right: 2px solid #E2E6EE;
}

.vertical__bar__right,
.vertical__bar__left {
    padding: 15px 10px;
}

.skill__container__top__item__left {
    width: 200px;
}

.skill__container__top__item__left p {
    color: #2E2E48;
    font-size: 14px;
    font-family: var(--font-dmsans);
    font-weight: 500;
    padding-top: 8px;
}

.vertical__bar__left span,
.vertical__bar__right,
.right__item span,
.right__item li {
    color: #9251F7;
    font-size: 14px;
    font-family: var(--font-dmsans);
    font-weight: 500;
}

.bottom__horizontal__bar {
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.html__title {
    padding-right: 24px;
}

.css__title {
    border-bottom: 2px solid #E2E6EE;
    padding-bottom: 4px;
}

/* Tool section */
.tool__container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 800px;
}

.tool__container__top{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.tool__container__bottom{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
}

.tool__item{
    padding: 20px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8.08px 0px 0px 0px;
}
.tool__item:first-child{
    border-radius: 8.08px 0px 0px 0px;
}
.tool__item:last-child{
    border-radius: 0px 8.08px 0px 0px;
}
.tool__container__bottom .tool__item:last-child{
    border-radius: 0px 0px 8.08px 0px;
}
.tool__container__bottom .tool__item:first-child{
    border-radius: 0px 0px 0px 8.08px;
}

.tool__item p{
  color: #2E2E48;
  font-size: 14px;
  font-family: var(--font-dmsans);
  font-weight: 500;
  text-align: center;
}
.tool__item span{
    color: #79819A;
    font-size: 10px;
    font-family: var(--font-dmsans);
    font-weight: 400;
}

/* Mobile responsive for sidebar */
@media screen and (max-width: 768px) {

    /* side bar responsive fixing */
    .container__sidebar {
        flex: 0 0 auto;
        width: 100%;
    }

    /* project section */
    .container__content__projects__items {
        flex-direction: column;
    }

    /* experience section */
    .education__container {
        flex-direction: column;
    }

    /* Skills section */
    .skill__container__top__item,
    .skill__container__top__item__right {
        flex-direction: column;
        align-items: start;
    }

    .skill__container__top__item__right{
        padding-left: 50px;
    }

    /* tool section */
    .tool__container__top{
        grid-template-columns: repeat(2, 1fr);
    }
    .tool__container__bottom{
        grid-template-columns: repeat(2, 1fr);
    }

    /* fixing quote on small screen */
    .container__sidebar__content__quote::after {
        content: close-quote;
        font-size: 2em;
        color: #79819A;
        position: absolute;
        left: 90px;
        bottom: -15px;
    }
}